button:focus {
  outline: none !important;
}
a:focus {
  outline: 0 !important;
  text-decoration: none !important;
}
#fullScreenLoader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  display: flex;
  justify-content: center;
  background: #fff;
  align-items: center;
}
#fullScreenLoader .spinner {
  position: relative;
  bottom: 42px;
}
nav.navbar,
footer {
  z-index: 999;
}
.sidebar {
  background-color: #fff !important;
}
.sidebar .tag-default {
  background-color: #fff !important;
  color: rgba(117, 117, 117, 1) !important;
  border: 1px solid rgba(230, 230, 230, 1) !important;
  padding: 6px 16px !important;
  margin: 0 8px 8px 0 !important;
  border-radius: 3px !important;
}
.sidebar > p {
  margin-bottom: 16px !important;
  font-weight: bold;
}
.article-meta .info {
  margin-left: 15px !important;
}
.article-preview .preview-link p,
.article-preview .preview-link span {
  color: #757575 !important;
}
.article-preview .preview-link ul li {
  background-color: rgba(242, 242, 242, 1) !important;
  color: rgba(117, 117, 117, 1) !important;
  border: 0 !important;
  font-weight: normal !important;
}
.home-page .banner {
  box-shadow: none !important;
  /* padding: 6rem; */
  background-color: #b85cb8;
}
.home-page .banner p,
.home-page .banner h1 {
  text-align: left !important;
  text-shadow: none !important;
}
.home-page .banner h1 {
  /* font-size: 4.5rem !important; */
  margin-bottom: 25px;
}
.logo-font {
  font-family: titillium web, sans-serif !important;
}

* {
  user-select: none !important;
  -webkit-touch-callout: none !important;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
}

*:focus {
  outline: none !important;
}
.toggleButton,
.toggle {
  display: none;
}
@media (max-width: 767px) {
  .col-md-9 {
    flex: 0 0 100% !important;
    max-width: 100% !important;
  }
  .nav {
    font-size: 15px !important;
  }
  .row {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .navbar {
    padding: 10px 0 !important;
  }
  .navbar .navbar-brand {
    margin: 0 !important;
    margin-bottom: 0 !important;
  }
  .article-preview .preview-link ul {
    max-width: 100% !important;
  }
  .navbar-nav .nav-item {
    margin-left: 0 !important;
    margin-bottom: 10px !important;
  }
  .navbar-brand {
    margin-bottom: 10px !important;
  }
  .toggleButton,
  .toggle {
    display: flex;
  }
  .lgNav {
    display: none;
  }
  .mobileNavContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .profile-page .user-info .action-btn {
    float: none !important;
    margin-top: 15px;
  }
}
.article-meta {
  display: flex;
  align-items: center;
}
@media (max-width: 599px) {
  .article-meta {
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
  }
}
